* {
	box-sizing: border-box;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

main.login {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #d4d4d8;
}

.card {
	border: 1px solid #eee;
	background-color: #fff;
	padding: 35px 42px;
	border-radius: 5px;
	min-width: 350px;
}

.card .card-header {
	font-size: 20px;
	margin-bottom: 40px;
}

.form-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */
	margin-bottom: 20px;
}

.form-item label {
	margin-bottom: 12px;
	font-size: 17px;
}

.form-item input,
textarea {
	width: 100%;
	font-size: 0.8em;
	color: #333;
	border: 1px solid #d4d4d8;
	padding: 12px 15px;
	border-radius: 5px;
}

.form-item input:focus,
textarea:focus {
	outline: 3px solid #e83e8c;
}

.button-primary {
	background-color: #e83e8c;
	border: none;
	font-size: 1.1em;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.button-primary.button-block {
	width: 100%;
}
